/* base CSS for all games*/

body {
    background-color: skyblue;
}

header {
    text-align: center;
    color: darkviolet;
}

#container {
    width: 50px;
    height: 100px;
    position: relative;
}


h1 {
    color: darkviolet;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

h2 {
    color: darkviolet;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    background-color: green;
}

a:active {
    color: white;
    text-decoration: none;
}

footer {
    margin-top: 18%;
    bottom: 0;
    left: 0;
    font-size: small;
}

/* CSS for individual games - move*/
.parallax {
    background-image: url("garden.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


button {
    width: 200px;
    height: 50px;
    margin-left: 5%;
    margin-top: 3%;
    color: white;
    background-color: deeppink;
    outline: darkgreen;
    border-style: dotted;
    opacity: .9;
}


#buzzyButtons {
    width: 200px;
    color: white;
    background-color: none;

}







#bee {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: none;
    margin-left: 10px;
}


#moveMeTiles1,
#moveMeTiles2 {
    background: none;
    box-shadow: none;
    border-radius: none;
}

#MoveMe1,
#MoveMe2,
#MoveMe3,
#MoveMe4,
#MoveMe5,
#MoveMe6,
#MoveMe7,
#MoveMe8,
#MoveMe9,
#MoveMe10,
#MoveMe11,
#MoveMe12 {
    border: solid;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 4%;
    margin: 1%;
    font-size: medium;
    color: deeppink;
    background-color: yellow;
}