* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}


@media only screen and (max-width:600px){

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color:skyblue;

}

body{
    background-image: url("./cottageGarden600.jpg"); /*cropped image*/
    background-repeat: no-repeat;
    background-position: 0% 150px;
    background-size: 100%;
}

section{
    background-color:skyblue;
    color: darkviolet;
    text-align: left;
    margin-top: 20%;
    margin-left: 5%;
}

nav{
    margin-left:1%;
    
}

ul {
    list-style-type: none;
    margin:auto;
    padding: 0;
    overflow: hidden;
    align-items: center;
   
  }
  
li a {
    display: block;
    width:70px;
    height:auto;
    margin: 1%;
    color:white;
    text-decoration: none;
    text-align: center;
    background-color:deeppink;
    outline-style: dotted;
    outline-color:green;
    opacity:.9; 
    
  }

a:visited{
    color:darkviolet;
    text-decoration:underline;
}
  
}

a:active{
    color: white; 
    
}

.img {
    visibility: visible;
    position:fixed;
}


.hidden{
    visibility: hidden;
}

footer{
    position: fixed;
    bottom:0;
    left:0;
    font-size: xx-small;
 }
